<nav>
    <div class="site-title">
        <a href="/"><h1>Notebook</h1></a>
        <p>Write your thoughts</p>
    </div>
    <ul>
        <li><a href="/">Notes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Note</a></li>
    </ul>
</nav>