<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Welcome to Notebook, where simplicity meets productivity! We understand the importance of capturing ideas on the go, staying organized, and making your daily tasks more manageable. Our mission is to provide you with a seamless note-taking experience that empowers you to unleash your creativity and stay effortlessly organized.</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>